In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import re #RegEx can be used to check if a string contains the specified search pattern.
import folium

# Dataframe Notes:
* racial_dis - has population data
* housing - enough data to support question? what year(s) is it based on?
* unemployment - years are 1990 - 2024
* unemployment_2 - years are from 2004-2013
* **Wages section is data from 2016-2024**

# Index
[Q&A](#Q&A)

[Housing Costs](#Housing_Costs)

[Wages](#Wages)

# Homelessness
##### [Go To Q&A](#Q&A)

In [2]:
age = pd.read_csv('../data/homelessness/age.csv')
age

,CALENDAR_YEAR,LOCATION_ID,LOCATION,AGE_GROUP_PUBLIC,EXPERIENCING_HOMELESSNESS_CNT
0,2017,All,California,18-24,16140
1,2017,All,California,25-34,27619
2,2017,All,California,35-44,24892
3,2017,All,California,45-54,26597
4,2017,All,California,55-64,23121
...,...,...,...,...,...
3300,2025,CA-614,San Luis Obispo County CoC,45-54,312
3301,2025,CA-614,San Luis Obispo County CoC,55-64,249
3302,2025,CA-614,San Luis Obispo County CoC,65+,153
3303,2025,CA-614,San Luis Obispo County CoC,Under 18,576
3304,2025,CA-614,San Luis Obispo County CoC,Unknown,*

In [18]:
age.columns= ['year','location_id','location','age_range','homeless_count']
age

      year location_id                    location age_range homeless_count
0     2017         All                  California     18-24          16140
1     2017         All                  California     25-34          27619
2     2017         All                  California     35-44          24892
3     2017         All                  California     45-54          26597
4     2017         All                  California     55-64          23121
...    ...         ...                         ...       ...            ...
3300  2025      CA-614  San Luis Obispo County CoC     45-54            312
3301  2025      CA-614  San Luis Obispo County CoC     55-64            249
3302  2025      CA-614  San Luis Obispo County CoC       65+            153
3303  2025      CA-614  San Luis Obispo County CoC  Under 18            576
3304  2025      CA-614  San Luis Obispo County CoC   Unknown              *

[3305 rows x 5 columns]

In [22]:
race = pd.read_csv('../data/homelessness/race.csv')
race.columns= ['year','location_id','ethnicity','alone,in_combo,both','count by ethnicity']
race

,year,location_id,ethnicity,"alone,in_combo,both",count by ethnicity
0,2017,All,"American Indian, Alaska Native, or Indigenous",Alone,1907
1,2017,All,"American Indian, Alaska Native, or Indigenous",Alone or In Combination,9255
2,2017,All,"American Indian, Alaska Native, or Indigenous",In_Combination,7348
3,2017,All,Asian or Asian American,Alone,2720
4,2017,All,Asian or Asian American,Alone or In Combination,4263
...,...,...,...,...,...
7444,2025,CA-614,Native Hawaiian or Pacific Islander,Alone or In Combination,40
7445,2025,CA-614,Native Hawaiian or Pacific Islander,In_Combination,27
7446,2025,CA-614,White,Alone,1007
7447,2025,CA-614,White,Alone or In Combination,1502
7448,2025,CA-614,White,In_Combination,495

In [24]:
racial_dis = pd.read_csv('../data/homelessness/racial_disparity.csv')
racial_dis.columns= ['year', 'location_id','location','ethnicity','gen_pop','homeless_pop','pop_comparison'] #gen_pop = general population, homeless_pop = homeless population 
racial_dis

,year,location_id,location,ethnicity,gen_pop,peh_pop,pop_comparison
0,2017,CA-500,Santa Clara County CoC,"American Indian, Alaska Native, or Indigenous",1.30%,9.90%,7.8
1,2017,CA-500,Santa Clara County CoC,Asian or Asian American,38.10%,5.30%,0.1
2,2017,CA-500,Santa Clara County CoC,"Black, African American, or African",3.40%,18.00%,5.4
3,2017,CA-500,Santa Clara County CoC,Hispanic/Latina/e/o,26.00%,49.40%,1.9
4,2017,CA-500,Santa Clara County CoC,Native Hawaiian or Pacific Islander,0.80%,3.60%,4.3
...,...,...,...,...,...,...,...
2200,2024,Statewide,California,"Black, African American, or African",7.20%,28.50%,3.9
2201,2024,Statewide,California,Hispanic/Latina/e/o,39.80%,37.10%,0.9
2202,2024,Statewide,California,Middle Eastern or North African,2.20%,0.70%,0.3
2203,2024,Statewide,California,Native Hawaiian or Pacific Islander,0.90%,1.90%,2.2
2204,2024,Statewide,California,White,59.20%,45.10%,0.8

In [25]:
disability = pd.read_csv('../data/homelessness/disability.csv')
disability.columns= ['year','location_id','pwd_count']
disability

     year location_id pwd_count
0    2017         All     71640
1    2017      CA-500      4583
2    2017      CA-501      1355
3    2017      CA-502      3658
4    2017      CA-503      5817
..    ...         ...       ...
398  2025      CA-609      1894
399  2025      CA-611       929
400  2025      CA-612       152
401  2025      CA-613       228
402  2025      CA-614       942

[403 rows x 3 columns]

# Housing_Costs
##### [Return to Index](#Index)
##### [Go To Q&A](#Q&A)

In [6]:
housing = pd.read_csv('../data/housing cost/housing_costs.csv')
housing.columns= ['county_name','area_name','town_name',

,countyname,Areaname,county_town_name,Rent50_2,Rent50_0,Rent50_1,Rent50_3,Rent50_4,county,State,pop2010,hu2010,state_alpha,fips2000,fips2010
0,Alameda County,"Oakland-Fremont, CA HUD Metro FMR Area",Alameda County,1708,1120,1358,2385,2926,1,6,1510271,582549,CA,600199999,600199999
1,Alpine County,"Alpine County, CA",Alpine County,831,605,614,1035,1341,3,6,1175,1760,CA,600399999,600399999
2,Amador County,"Amador County, CA",Amador County,1082,644,800,1436,1747,5,6,38091,18032,CA,600599999,600599999
3,Butte County,"Chico, CA MSA",Butte County,927,562,703,1323,1642,7,6,220000,95835,CA,600799999,600799999
4,Calaveras County,"Calaveras County, CA",Calaveras County,937,682,743,1381,1660,9,6,45578,27925,CA,600999999,600999999
5,Colusa County,"Colusa County, CA",Colusa County,808,593,597,1191,1431,11,6,21419,7883,CA,601199999,601199999
6,Contra Costa County,"Oakland-Fremont, CA HUD Metro FMR Area",Contra Costa County,1708,1120,1358,2385,2926,13,6,1049025,400263,CA,601399999,601399999
7,Del Norte County,"Del Norte County, CA",Del Norte County,886,650,655,1306,1425,15,6,28610,11186,CA,601599999,601599999
8,El Dorado County,"Sacramento--Arden-Arcade--Roseville, CA HUD Me...",El Dorado County,1086,726,865,1600,1923,17,6,181058,88159,CA,601799999,601799999
9,Fresno County,"Fresno, CA MSA",Fresno County,901,686,714,1266,1477,19,6,930450,315531,CA,601999999,601999999
10,Glenn County,"Glenn County, CA",Glenn County,836,614,618,1206,1481,21,6,28122,10778,CA,602199999,602199999
11,Humboldt County,"Humboldt County, CA",Humboldt County,1003,677,744,1478,1720,23,6,134623,61559,CA,602399999,602399999
12,Imperial County,"El Centro, CA MSA",Imperial County,782,497,605,1152,1385,25,6,174528,56067,CA,602599999,602599999
13,Inyo County,"Inyo County, CA",Inyo County,955,771,803,1407,1691,27,6,18546,9478,CA,602799999,602799999
14,Kern County,"Bakersfield-Delano, CA MSA",Kern County,887,673,678,1301,1571,29,6,839631,284367,CA,602999999,602999999
15,Kings County,"Hanford-Corcoran, CA MSA",Kings County,853,533,630,1213,1275,31,6,152982,43867,CA,603199999,603199999
16,Lake County,"Lake County, CA",Lake County,941,691,696,1387,1401,33,6,64665,35492,CA,603399999,603399999
17,Lassen County,"Lassen County, CA",Lassen County,984,688,727,1376,1381,35,6,34895,12710,CA,603599999,603599999
18,Los Angeles County,"Los Angeles-Long Beach, CA HUD Metro FMR Area",Los Angeles County,1550,993,1201,2096,2335,37,6,9818605,3445076,CA,603799999,603799999
19,Madera County,"Madera-Chowchilla, CA MSA",Madera County,940,690,695,1366,1498,39,6,150865,49140,CA,603999999,603999999
20,Marin County,"San Francisco, CA HUD Metro FMR Area",Marin County,2263,1378,1794,3074,3717,41,6,252409,111214,CA,604199999,604199999
21,Mariposa County,"Mariposa County, CA",Mariposa County,906,659,670,1128,1462,43,6,18251,10188,CA,604399999,604399999
22,Mendocino County,"Mendocino County, CA",Mendocino County,1227,868,929,1691,2044,45,6,87841,40323,CA,604599999,604599999
23,Merced County,"Merced, CA MSA",Merced County,808,530,614,1191,1431,47,6,255793,83698,CA,604799999,604799999
24,Modoc County,"Modoc County, CA",Modoc County,643,468,542,948,1131,49,6,9686,5192,CA,604999999,604999999
25,Mono County,"Mono County, CA",Mono County,1221,901,1030,1521,1971,51,6,14202,13912,CA,605199999,605199999
26,Monterey County,"Salinas, CA MSA",Monterey County,1335,943,1060,1947,2177,53,6,415057,139048,CA,605399999,605399999
27,Napa County,"Napa, CA MSA",Napa County,1635,975,1222,2333,2341,55,6,136484,54759,CA,605599999,605599999
28,Nevada County,"Nevada County, CA",Nevada County,1460,1095,1102,2151,2488,57,6,98764,52590,CA,605799999,605799999
29,Orange County,"Orange County, CA HUD Metro FMR Area",Orange County,1719,1194,1372,2405,2678,59,6,3010232,1048907,CA,605999999,605999999
30,Placer County,"Sacramento--Arden-Arcade--Roseville, CA HUD Me...",Placer County,1086,726,865,1600,1923,61,6,348432,152648,CA,606199999,606199999
31,Plumas County,"Plumas County, CA",Plumas County,966,575,714,1203,1589,63,6,20007,15566,CA,606399999,606399999
32,Riverside County,"Riverside-San Bernardino-Ontario, CA MSA",Riverside County,1153,788,908,1629,1987,65,6,2189641,800707,CA,606599999,606599999
33,Sacramento County,"Sacramento--Arden-Arcade--Roseville, CA HUD Me...",Sacramento County,1086,726,865,1600,1923,67,6,1418788,555932,CA,606799999,606799999
34,San Benito County,"San Benito County, CA HUD Metro FMR Area",San Benito County,1378,820,1019,2031,2441,69,6,55269,17870,CA,606999999,606999999
35,San Bernardino County,"Riverside-San Bernardino-Ontario, CA MSA",San Bernardino County,1153,788,908,1629,1987,71,6,2035210,699637,CA,607199999,607199999
36,San Diego County,"San Diego-Carlsbad-San Marcos, CA MSA",San Diego County,1512,1049,1153,2198,2678,73,6,3095313,1164786,CA,607399999,607399999
37,San Francisco County,"San Francisco, CA HUD Metro FMR Area",San Francisco County,2263,1378,1794,3074,3717,75,6,805235,376942,CA,607599999,607599999
38,San Joaquin County,"Stockton, CA MSA",San Joaquin County,1005,643,766,1481,1780,77,6,685306,233755,CA,607799999,607799999
39,San Luis Obispo County,"San Luis Obispo-Paso Robles, CA MSA",San Luis Obispo County,1394,934,1080,2054,2142,79,6,269637,117315,CA,607999999,607999999
40,San Mateo County,"San Francisco, CA HUD Metro FMR Area",San Mateo County,2263,1378,1794,3074,3717,81,6,718451,271031,CA,608199999,608199999
41,Santa Barbara County,"Santa Barbara-Santa Maria-Goleta, CA MSA",Santa Barbara County,1538,1117,1283,2055,2379,83,6,423895,152834,CA,608399999,608399999
42,Santa Clara County,"San Jose-Sunnyvale-Santa Clara, CA HUD Metro F...",Santa Clara County,1965,1317,1541,2771,3141,85,6,1781642,631920,CA,608599999,608599999
43,Santa Cruz County,"Santa Cruz-Watsonville, CA MSA",Santa Cruz County,1876,1146,1387,2418,2698,87,6,262382,104476,CA,608799999,608799999
44,Shasta County,"Redding, CA MSA",Shasta County,975,754,776,1437,1601,89,6,177223,77313,CA,608999999,608999999
45,Sierra County,"Sierra County, CA",Sierra County,1090,793,806,1606,1759,91,6,3240,2328,CA,609199999,609199999
46,Siskiyou County,"Siskiyou County, CA",Siskiyou County,856,563,670,1248,1405,93,6,44900,23910,CA,609399999,609399999
47,Solano County,"Vallejo-Fairfield, CA MSA",Solano County,1283,814,1024,1891,2248,95,6,413344,152698,CA,609599999,609599999
48,Sonoma County,"Santa Rosa-Petaluma, CA MSA",Sonoma County,1462,958,1117,2154,2525,97,6,483878,204572,CA,609799999,609799999
49,Stanislaus County,"Modesto, CA MSA",Stanislaus County,977,617,762,1440,1671,99,6,514453,179503,CA,609999999,609999999
50,Sutter County,"Yuba City, CA MSA",Sutter County,902,585,704,1303,1543,101,6,94737,33858,CA,610199999,610199999
51,Tehama County,"Tehama County, CA",Tehama County,829,493,613,1169,1340,103,6,63463,26987,CA,610399999,610399999
52,Trinity County,"Trinity County, CA",Trinity County,872,648,652,1285,1544,105,6,13786,8681,CA,610599999,610599999
53,Tulare County,"Visalia-Porterville, CA MSA",Tulare County,827,619,635,1219,1417,107,6,442179,141696,CA,610799999,610799999
54,Tuolumne County,"Tuolumne County, CA",Tuolumne County,1016,619,751,1497,1502,109,6,55365,31244,CA,610999999,610999999
55,Ventura County,"Oxnard-Thousand Oaks-Ventura, CA MSA",Ventura County,1671,1042,1245,2308,2671,111,6,823318,281695,CA,611199999,611199999
56,Yolo County,"Yolo, CA HUD Metro FMR Area",Yolo County,1186,813,878,1748,2039,113,6,200849,75054,CA,611399999,611399999
57,Yuba County,"Yuba City, CA MSA",Yuba County,902,585,704,1303,1543,115,6,72155,27635,CA,611599999,611599999

# Unemployment
##### [Return to Index](#Index)
##### [Go To Q&A](#Q&A)

In [7]:
unemployment = pd.read_csv('../data/unemployment/unemployment_data.csv')
unemployment

,Area Name,Area Type,Year,Month,Seasonally Adjusted(Y/N),Status,Labor Force,Employment,Unemployment,Unemployment Rate
0,California,State,1990,Annual,N,Final,15176300,14301800,874500,5.8
1,Los Angeles-Long Beach-Glendale MD,Metropolitan Area,1990,Annual,N,Final,4526600,4260700,265800,5.9
2,Los Angeles County,County,1990,Annual,N,Final,4526600,4260700,265800,5.9
3,Alameda County,County,1990,Annual,N,Final,678000,650600,27500,4.0
4,Alpine County,County,1990,Annual,N,Final,380,340,40,9.6
...,...,...,...,...,...,...,...,...,...,...
17043,Selma city,Sub-County Place,2024,Annual,N,Final,11700,10300,1300,11.5
17044,Shaver Lake CDP,Sub-County Place,2024,Annual,N,Final,100,100,0,7.1
17045,Squaw Valley CDP,Sub-County Place,2024,Annual,N,Final,1400,1300,100,4.3
17046,Tranquillity CDP,Sub-County Place,2024,Annual,N,Final,300,300,100,17.8
17047,Fresno County,County,2024,Annual,N,Final,469100,431800,37200,7.9

In [8]:
unemployment_2 = pd.read_excel('../data/unemployment/unemployment_2004-2013.xlsx')
unemployment_2

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_fips,county_name,...,Unemployment,Labor_force,Unemployment_rate,ll_95ci,ul_95ci,se,rse,place_decile,ca_rr,version
0,290,Unemployment rate,2004,9.0,Total,CA,6.0,California,NaN,NaN,...,1089657.0,17444436.0,6.200000,NaN,NaN,NaN,NaN,NaN,1.000000,2014-05-22 11:47:47
1,290,Unemployment rate,2005,9.0,Total,CA,6.0,California,NaN,NaN,...,952559.0,17544763.0,5.400000,NaN,NaN,NaN,NaN,NaN,1.000000,2014-05-22 11:47:47
2,290,Unemployment rate,2006,9.0,Total,CA,6.0,California,NaN,NaN,...,865423.0,17686689.0,4.900000,NaN,NaN,NaN,NaN,NaN,1.000000,2014-05-22 11:47:47
3,290,Unemployment rate,2006-2010,1.0,AIAN,CA,6.0,California,NaN,NaN,...,9673.0,70286.0,13.800000,12.608511,14.991489,0.607903,4.405092,NaN,1.000000,2014-05-22 11:47:47
4,290,Unemployment rate,2006-2010,3.0,AfricanAm,CA,6.0,California,NaN,NaN,...,142776.0,1012992.0,14.100000,13.742553,14.457447,0.182371,1.293410,NaN,1.000000,2014-05-22 11:47:47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106406,290,Unemployment rate,2010,9.0,Total,RE,14.0,Southern California,NaN,NaN,...,1097358.0,8817814.0,12.466260,NaN,NaN,NaN,NaN,NaN,1.005344,2014-05-22 11:47:47
106407,290,Unemployment rate,2011,9.0,Total,RE,14.0,Southern California,NaN,NaN,...,1055732.0,8847498.0,11.954045,NaN,NaN,NaN,NaN,NaN,1.013055,2014-05-22 11:47:47
106408,290,Unemployment rate,2012,9.0,Total,RE,14.0,Southern California,NaN,NaN,...,937048.0,8846465.0,10.584442,NaN,NaN,NaN,NaN,NaN,1.017735,2014-05-22 11:47:47
106409,290,Unemployment rate,2013,9.0,Total,RE,14.0,Southern California,NaN,NaN,...,828311.0,8904730.0,9.321906,NaN,NaN,NaN,NaN,NaN,1.047405,2014-05-22 11:47:47
106410,END OF TABLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

# Wages
##### [Return to Index](#Index)
##### [Go To Q&A](#Q&A)

In [9]:
year_16_19 = pd.read_csv('../data/2016-2019.csv')
year_16_19

,Area Type,Area Name,Year,Quarter,Ownership,NAICS Level,NAICS Code,Industry Name,Establishments,Average Monthly Employment,1st Month Emp,2nd Month Emp,3rd Month Emp,Total Wages (All Workers),Average Weekly Wages
0,County,Alameda County,2016,1st Qtr,Federal Government,2,1023,Financial Activities,1,10,10,10,10,359690.0,2767.0
1,County,Alameda County,2016,1st Qtr,Federal Government,2,1028,Public Administration,72,5174,5193,5143,5188,136068970.0,2023.0
2,County,Alameda County,2016,1st Qtr,Private,5,11121,Vegetable and Melon Farming,7,29,31,27,29,210934.0,560.0
3,County,Alameda County,2016,1st Qtr,Private,4,1114,Greenhouse and Nursery Production,7,52,61,64,31,748616.0,1107.0
4,County,Alameda County,2016,1st Qtr,Private,5,11142,Nursery and Floriculture Production,7,52,61,64,31,748616.0,1107.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1009950,County,Yuba County,2019,Annual,Private,3,813,Membership Organizations & Associations,8,17,0,0,0,410104.0,469.0
1009951,County,Yuba County,2019,Annual,Private,3,814,Private Households,7,8,0,0,0,185659.0,433.0
1009952,County,Yuba County,2019,Annual,Private,4,8141,Private Households,7,8,0,0,0,185659.0,433.0
1009953,County,Yuba County,2019,Annual,Private,5,81411,Private Households,7,8,0,0,0,185659.0,433.0
1009954,County,Yuba County,2019,Annual,Private,6,814110,Private Households,7,8,0,0,0,185659.0,433.0

In [10]:
year_20_22 = pd.read_csv('../data/2020-2022.csv')
year_20_22

,Area Type,Area Name,Year,Time Period,Ownership,NAICS Level,NAICS Code,Industry Name,Establishments,Average Monthly Employment,1st Month Emp,2nd Month Emp,3rd Month Emp,Total Wages (All Workers),Average Weekly Wages
0,County,Alameda County,2020,1st Qtr,Federal Government,2,1024,Professional and Business Services,2,9,9,9,9,279730.0,2391
1,County,Alameda County,2020,1st Qtr,Federal Government,3,491,Postal Service,28,3189,3198,3181,3189,54692130.0,1319
2,County,Alameda County,2020,1st Qtr,Federal Government,3,541,Professional and Technical Services,2,9,9,9,9,279730.0,2391
3,County,Alameda County,2020,1st Qtr,Federal Government,5,54133,Engineering Services,1,2,2,2,2,31831.0,1224
4,County,Alameda County,2020,1st Qtr,Federal Government,2,62,Health Care and Social Assistance,1,376,384,376,369,8804659.0,1800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798459,County,Yuba County,2022,Annual,Private,6,722513,Limited-service restaurants,37,801,0,0,0,17512696.0,420
798460,County,Yuba County,2022,Annual,Private,2,81,"Other Services, Ex. Public Admin",52,194,0,0,0,8358281.0,830
798461,County,Yuba County,2022,Annual,Private,3,811,Repair and Maintenance,22,81,0,0,0,4108053.0,976
798462,County,Yuba County,2022,Annual,Private,4,8122,Death Care Services,5,51,0,0,0,2447796.0,926
798463,County,Yuba County,2022,Annual,State Government,5,92612,Transportation Program Administration,11,1140,0,0,0,122736032.0,2070

In [11]:
year_23_24 = pd.read_csv('../data/2023-2024.csv')
year_23_24

,Area Type,Area Name,Year,Time Period,Ownership,NAICS Level,NAICS Code,Industry Name,Establishments,Average Monthly Employment,1st Month Emp,2nd Month Emp,3rd Month Emp,Total Wages (All Workers),Average Weekly Wages
0,County,Alameda County,2023,1st Qtr,Private,6,621320,Offices of Optometrists,113,712,713,711,712,8369954.0,904
1,County,Alameda County,2023,1st Qtr,Private,4,7211,Traveler Accommodation,202,4731,4620,4754,4820,53296122.0,867
2,County,Alameda County,2023,1st Qtr,Private,5,72111,Hotels (except Casino Hotels) and Motels,197,4698,4595,4731,4770,52823958.0,865
3,County,Alameda County,2023,1st Qtr,Private,5,81121,Electronic Equipment Repair/Maintenance,70,387,385,389,388,10047906.0,1995
4,County,Alameda County,2023,1st Qtr,State Government,5,92214,Correctional Institutions,1,26,26,26,26,879549.0,2602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585449,County,Yuba County,2024,Annual,Private,6,561720,Janatorial Services,6,89,0,0,0,3211879.0,697
585450,County,Yuba County,2024,Annual,Private,5,62151,Medical and Diagnostic Laboratories,3,18,0,0,0,889992.0,978
585451,County,Yuba County,2024,Annual,Private,5,81291,Pet Care (except Veterinary) Services,4,8,0,0,0,133311.0,320
585452,County,Yuba County,2024,Annual,State Government,4,5613,Employment Services,1,24,0,0,0,1820778.0,1474
585453,County,Yuba County,2024,Annual,State Government,3,926,Administration of Economic Programs,11,1242,0,0,0,145638377.0,2254

# Q&A
##### [Return to Index](#Index)

**How have homelessness rates changed in California from 2016 - 2024?**

**How have unemployment rates changed during the same time period?**

**Which counties or cities in California have the highest rates of homelessness?**

**Do those areas also have high unemployment rates?**

**Are there counties with high unemployment but low homelessness (or vice versa), and why?**

**How do housing costs (e.g., median rent, housing affordability index) correlate with homelessness and unemployment?**